.footer {
  padding: 67px 0 60px 0;
  display: flex;
}

.footer__copyright {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    width: 282px;
    font-size: 14px;
    line-height: 17px;
    padding: 36px 19px;
  }

  .footer {
    margin: 0 auto;
    padding: 0;
    align-items: center;
  }
}
