.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    padding: 0 0 32px 27px;
    box-sizing: border-box;
    max-height: 56px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .header {
    padding-right: 200px;
    padding-left: 200px;
  }
  .profile {
    padding-right: 200px;
    padding-left: 200px;
  }
}
